</h1>

<p>
Olá <%= @usuario.nome %>,

	<table>
		<tr>
    	<th>Você é professor das turmas</th>
    </tr>

		<% @usuario.turmas.each do |turma| %>
			<tr>
				<td><%= turma.disciplina %></td>
				<td><%= link_to 'Show', turma %></td>
			</tr>
		<% end %>
	</table>
	<br />	
	<table>
		<tr>
    	<th>Você está matriculado nas turmas</th>
    </tr>

		<% @usuario.disciplinas.each do |disciplina| %>
			<tr>
				<td><%= disciplina.disciplina %></td>
				<td><%= link_to 'Show', disciplina %></td>
			</tr>
		<% end %>
	</table>  

</p>