<p id="notice"><%= notice %></p>

<p>
  <b>Disciplina:</b>
  <%= @turma.disciplina %>
</p>

<p>
  <b>Professor:</b>
  <table>
  	<tr>
  		<td>
  			<img src="<%= @professor_foto_url %>" />
  		</td>
  		<td>
  			<%= link_to @turma.professor.nome, @turma.professor %>
  		</td>
  	</tr>
  </table>
</p>

<table>
	<tr>
  	<th>Alunos:</th>
  </tr>
	<% @turma.alunos.each do |aluno| %>
		<tr>
			<td><%= link_to aluno.nome, aluno %></td>
		</tr>
	<% end %>
</table>

<table>
	<tr>
  	<th>Fóruns:</th>
  </tr>
	<% @turma.questoes.each do |questao| %>
		<tr>
			<td><%= link_to questao.pergunta, questao %></td>
		</tr>
	<% end %>
</table>