<p id="notice"><%= notice %></p>

<p>
  <b>Fórum:</b>
  <%= @questao.pergunta %>
</p>

<p>
  <b>Autor:</b>
  <%= @questao.autor.nome %>
</p>

<table width="800">
	<tr>
  	<th>Interações:</th>
  </tr>
	<% @questao.respostas.where("nota is null").order("created_at").each do |resposta| %>
		<tr>
			<td width="600"><%= resposta.conteudo %></td>
			<td>
				<%= form_for(resposta) do |f| %>		
					<%= f.text_field :nota, :size => 3 %> | <%= f.submit "Salvar Nota"%>
				<% end %>
			</td>
		</tr>
	<% end %>
	<% @questao.respostas.where("nota is not null").order("created_at").each do |resposta| %>
		<tr>
			<td width="600"><%= resposta.conteudo %></td>
			<td>
				<%= form_for(resposta) do |f| %>		
					<%= f.text_field :nota, :size => 3 %> | <%= f.submit "Salvar Nota", :target => '#'%>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>


<!-- <%= link_to 'Edit', edit_questao_path(@questao) %> | -->
<%= link_to 'Back', questoes_path %> |
<%= link_to 'Boletim', {:controller => 'questoes', :action => 'questao_report', :id => @questao, :target => "_blank"} %>