<p id="notice"><%= notice %></p>

<p>
  <b>Conteudo:</b>
  <%= @mensagem.conteudo %>
</p>

<p>
  <b>Autor:</b>
  <%= @mensagem.autor.nome %>
</p>

<p>
  <b>Objeto:</b>
  <%= @mensagem.objeto_id %>
</p>

<p>
  <b>Tipo do Objeto:</b>
  <%= @mensagem.objeto_type %>
</p>


<%= link_to 'Edit', edit_mensagem_path(@mensagem) %> |
<%= link_to 'Back', mensagens_path %>
