<p id="notice"><%= notice %></p>

<p>
  <table>
  	<tr>
  		<td>
  			<img src="<%= @usuario_foto_url %>" />
  		</td>
  		<td>
  			<%= @usuario.nome %>
  		</td>
  	</tr>
  </table>
</p>

<p>
  <b>Data nascimento:</b>
  <%= @usuario.data_nascimento %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
